.home{
    max-width: 1500px;
    margin: auto; 
}

.home_row{
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  /* flex-wrap: wrap; */
}

.home_image{
    
    width: 100%;
    /*******                   apply to the bottom and change opacity
                                                accordingly */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

    /* -webkit-mask-image: linear-gradient(to top, transparent 26%, rgb(12, 10, 10) 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);  */

  z-index: -1;
  margin-bottom: -350px;


}